@model Articles.Models.Clauses

<div id="delete-dialog" title="Confirmation">
    <p>Подтвердите удаление статьи</p>

    @using (Ajax.BeginForm("DeleteConfirm",
        new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "linkResult"
        }))
    {@Html.AntiForgeryToken()


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="hidden" value="@Model.Id" name="id" />
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Подтверждаю" onclick="updateMeny()" class="btn btn-danger" />
        </div>
    </div>
}


</div>