@model Articles.Models.Clauses
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">

        <ul id="myUL">
            <li>
                <a>Вход</a>
            </li>
            <li>
                <a>Регистрация</a>
            </li>
            @ViewBag.Meny

        </ul>
    </div>
    <div class="col-md-8" id="linkResult">
        @{Html.RenderPartial("Clauses", Model);}
    </div>

</div>




<script src="~/Scripts/myjs.js" language="javascript" type="text/javascript"></script>
<script src="~/Scripts/Openpartitial.js" language="javascript" type="text/javascript"></script>
 
