@using Articles.Scripts
@{
    ViewBag.Title = "Home Page";
}

 

<div class="row">
    <div class="col-md-4">
       
        <ul id="myUL">
            <li>
                <a>Вход</a>
            </li>
            <li>
                <a>Регистрация</a>
            </li>   
                @ViewBag.Meny

        </ul>
    </div>
    <div class="col-md-8">
        @ViewBag.Clauses
    </div>
   
</div>


<script src="~/Scripts/myjs.js" language="javascript" type="text/javascript"></script>
