@using Articles.Scripts
@{
    ViewBag.Title = "Home Page";
}

 

<div class="row">
    <div class="col-md-4">
       
        <ul id="myUL">
            <li>
                <a>Вход</a>
            </li>
            <li>
                <a>Регистрация</a>
            </li>
      
               @ViewBag.Meny;

        <li>
            <span class="caret">Каталог статей</span>
            <ul class="nested">
                <li>Cтатья</li>
                <li>Статья</li>
                <li>
                    <span class="caret">Еще каталог</span>
                    <ul class="nested">
                        <li>Black Tea</li>
                        <li>White Tea</li>
                        <li>
                            <span class="caret">Green Tea</span>
                            <ul class="nested">
                                <li>Sencha</li>
                                <li>Gyokuro</li>
                                <li>Matcha</li>
                                <li>Pi Lo Chun</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="caret">Еще каталог</span>
                    <ul class="nested">
                        <li>Black Tea</li>
                        <li>White Tea</li>
                        <li>
                            <span class="caret">Green Tea</span>
                            <ul class="nested">
                                <li>Sencha</li>
                                <li>Gyokuro</li>
                                <li>Matcha</li>
                                <li>Pi Lo Chun</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        </ul>
    </div>
    <div class="col-md-8">
        <h2>Заголовок статьи</h2>
        <p>Текст статьи Текст статьиТекст статьиТекст статьиТекст статьиТекст статьиТекст статьиТекст статьиТекст статьи</p>
     </div>
   
</div>


<script src="~/Scripts/myjs.js" language="javascript" type="text/javascript"></script>
