@model Articles.Models.Clauses
@{
    ViewBag.Title = "Home Page";
}




<div class="row">
    <div class="col-md-4">
        <div class="well no-padding">
            @{Html.RenderPartial("MenyPartial");}
        </div>
    </div>


    <div class="col-md-7" id="linkResult" style="padding:20px;">
        @{Html.RenderPartial("Clauses", Model);}
    </div>

</div>




<script src="~/Scripts/myjs.js" language="javascript" type="text/javascript"></script>
<script src="~/Scripts/Openpartitial.js" language="javascript" type="text/javascript"></script>

<script>
    $('.tree-toggle').click(function () {
        $(this).parent().children('ul.tree').toggle(200);
    });
    $(function () {
        $('.tree-toggle').parent().children('ul.tree').toggle(200);
    })
</script>

