@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5" id="menyPartial">
        <div class="well no-padding">
            @{
                Html.RenderPartial("MenyPartial");
            }
        </div>
    </div>

    <div class="col-md-7" id="linkResult" style="padding:20px;">
        @{
            Html.RenderPartial("~/Views/Clauses/ClausesShow.cshtml");
        }
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="~/Scripts/Openpartitial.js" language="javascript" type="text/javascript"></script>



 








