<div>
    <ul class="nav nav-list nav-menu-list-style">

        <li>
            <a href="#">Добавить</a>
        </li>
        <li>
            <a href="#">Изменить</a>
        </li>

      
        @ViewBag.Meny
    </ul>
</div>
